* {
    outline: none;
}
a {
    color: blue;
    text-decoration:none;
    transition: transform 0.05s;
}
a:active {
    transform: scale(1.1, 1.1);
}
#work-task {
    display: inline-block;
    margin: 1em;
    font-size: 2em;
}